venv
catboost.csv
lightgbm.csv
merge.csv
processed_test.csv
processed_train.csv
randomForest5.csv
xgboost.csv
catboost_info/catboost_training.json
catboost_info/learn_error.tsv
catboost_info/time_left.tsv
catboost_info/fold-0/catboost_training.json
catboost_info/fold-0/learn_error.tsv
catboost_info/fold-0/test_error.tsv
catboost_info/fold-0/time_left.tsv
catboost_info/fold-0/learn/events.out.tfevents
catboost_info/fold-0/test/events.out.tfevents
catboost_info/fold-1/catboost_training.json
catboost_info/fold-1/learn_error.tsv
catboost_info/fold-1/test_error.tsv
catboost_info/fold-1/time_left.tsv
catboost_info/fold-1/learn/events.out.tfevents
catboost_info/fold-1/test/events.out.tfevents
catboost_info/fold-2/catboost_training.json
catboost_info/fold-2/learn_error.tsv
catboost_info/fold-2/test_error.tsv
catboost_info/fold-2/time_left.tsv
catboost_info/fold-2/learn/events.out.tfevents
catboost_info/fold-2/test/events.out.tfevents
catboost_info/fold-3/catboost_training.json
catboost_info/fold-3/learn_error.tsv
catboost_info/fold-3/test_error.tsv
catboost_info/fold-3/time_left.tsv
catboost_info/fold-3/learn/events.out.tfevents
catboost_info/fold-3/test/events.out.tfevents
catboost_info/fold-4/catboost_training.json
catboost_info/fold-4/learn_error.tsv
catboost_info/fold-4/test_error.tsv
catboost_info/fold-4/time_left.tsv
catboost_info/fold-4/learn/events.out.tfevents
catboost_info/fold-4/test/events.out.tfevents
catboost_info/learn/events.out.tfevents
copyparty-sfx.py
